
<div class="row">
    <div class="large-12 columns">
        <a id="logoLink" href="/"><img src="~/images/insidevaluationlogofinal_web.png"/></a>
        <div class="headerContact">
            <a href="/contact">Contact</a><br/>775-828-4044
        </div>
    </div>
</div>

<div class="row" id="topMenu">
    <nav class="top-bar" data-topbar>
        <section class="top-bar-section"> 
            <ul class="left">
                <li class="active"><a href="/">Home</a></li>
                <li class="has-dropdown"><a href="/about-us.aspx">About Us</a>
                    <ul class="dropdown">
                        <li><a href="/about-us/client-support.aspx">Client Support</a></li>
                        <li><a href="/about-us/technical-support.aspx">Technical Support</a></li>
                        <li><a href="/about-us/field-agent-support.aspx">Field Agent Support</a></li>
                        <li><a href="/about-us/our-team.aspx">Our Team</a></li>
                        <li><a href="/about-us/join-our-team.aspx">Join Our Team</a></li>
                        <li><a href="/about-us/insidevaluation®-gives-back.aspx">InsideValuation® Gives Back</a></li>
                    </ul>
                </li>
                <li class="has-dropdown"><a href="/commercial-valuation.aspx">Commercial Valuation</a>
                    <ul class="dropdown">
                        <li><a href="/commercial-valuation/commercial-evaluation.aspx">Commercial Evaluation</a></li>
                        <li><a href="/commercial-valuation/property-condition-report.aspx">Property Condition Report</a></li>
                        <li><a href="/commercial-valuation/sales-comparison-evaluation.aspx">Sales Comparison Evaluation</a></li>
                        <li><a href="/commercial-valuation/replacement-cost-value-report.aspx">Replacement Cost Value Report</a></li>
                    </ul>
                </li>
                <li class="has-dropdown"><a href="/residential-valuation.aspx">Residential Valuation</a>
                    <ul class="dropdown">
                        <li><a href="/residential-valuation/residential-evaluation.aspx">Residential Evaluation</a></li>
                        <li><a href="/residential-valuation/property-condition-report.aspx">Property Condition Report</a></li>
                        <li><a href="/residential-valuation/automated-valuation-models-(avm).aspx">Automated Valuation Models (AVM)</a></li>
                        <li><a href="/residential-valuation/replacement-cost-value-report.aspx">Replacement Cost Value Report</a></li>
                    </ul>
                </li>
                <li class="has-dropdown"><a href="/news-room.aspx">News Room</a>
                    <ul class="dropdown">
                        <li><a href="/news-room/news.aspx">News</a></li>
                        <li><a href="/news-room/in-the-news.aspx">In The News</a></li>
                        <li><a href="/news-room/media.aspx">Media</a></li>
                    </ul>
                </li>
                <li class="active"><a href="/contact.aspx">Contact</a></li>
                <li class="has-dropdown"><a href="/login.aspx">Login</a>
                    <ul class="dropdown">
                        <li><a href="/login/field-agent-login.aspx">Field Agent Login</a></li>
                        <li><a href="/login/client-login.aspx">Client Login</a></li>
                    </ul>
                </li>
            </ul>
        </section> 
    </nav>
</div>
<div class="row">
	<div class="large-4 columns">
		<div class="panel">
            <h2><a href="/news-room">Recent News</a></h2>
            <p>
                <h3 style="margin-bottom:15px;"><a href="/news-room/news/insidevaluation-launches-new-evaluation-products.aspx">InsideValuation® Launches New Evaluation Products</a></h3>
                <ul>
                    <li>
                        <h3><a href="/news-room/news/chauncy-and-calhoun-move-to-new-roles.aspx">Chauncy and Calhoun Move to New Roles</a></h3><p style="margin-top:4px; margin-bottom:15px; border-bottom:1px solid #F0F0F0;"><small>Wednesday, August 14, 2013</small>Reno, NV-Former COO Susan Chauncy took the reins as Chief Executive Officer of InsideValuation® and continues as a Manag...<br /><a class="postReadMore" href="/news-room/news/chauncy-and-calhoun-move-to-new-roles.aspx" title="Permalink to Chauncy and Calhoun Move to New Roles">Read More &gt;</a></p>
                    </li>
                    <li>
                        <h3><a href="/news-room/news/insidevaluation®-gives-back.aspx">InsideValuation® Gives Back</a></h3><p style="margin-top:4px; margin-bottom:15px; border-bottom:1px solid #F0F0F0;"><small>Wednesday, May 08, 2013</small>InsideValuation® has gotten serious about community service. Early this year, a group of employees at InsideValuation® b...<br /><a class="postReadMore" href="/news-room/news/insidevaluation®-gives-back.aspx" title="Permalink to InsideValuation® Gives Back">Read More &gt;</a></p>
                    </li>
                </ul>
            </p>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="panel">
			<p>Products</p>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="panel">
			<p>Company Information</p>
		</div>
	</div>
</div>

<!--
	<div class="row">
		<div class="large-8 columns">
			<h3>The Grid</h3>

		
			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<p>This is a twelve column section in a row. Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<div class="panel">
						<p>Six columns</p>
					</div>
				</div>
				<div class="large-6 columns">
					<div class="panel">
						<p>Six columns</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<div class="panel">
						<p>Four columns</p>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel">
						<p>Four columns</p>
					</div>
				</div>
				<div class="large-4 columns">
					<div class="panel">
						<p>Four columns</p>
					</div>
				</div>
			</div>

			<h3>Buttons</h3>

      <div class="row">
        <div class="large-6 columns">
          <p><a href="#" class="small button">Small Button</a></p>
          <p><a href="#" class="button">Medium Button</a></p>
          <p><a href="#" class="large button">Large Button</a></p>
        </div>
        <div class="large-6 columns">
          <p><a href="#" class="small alert button">Small Alert Button</a></p>
          <p><a href="#" class="success button">Medium Success Button</a></p>
          <p><a href="#" class="large secondary button">Large Secondary Button</a></p>
        </div>
      </div>
		</div>
        <div class="large-4 columns">
			<h4>Getting Started</h4>
			<p>We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>

			<h4>Other Resources</h4>
			<p>Once you've exhausted the fun in this document, you should check out:</p>
			<ul class="disc">
				<li><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</li>
				<li><a href="http://github.com/zurb/foundation">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</li>
				<li><a href="http://twitter.com/foundationzurb">@@foundationzurb</a><br />Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).</li>
			</ul>
		</div>
	</div>
-->